 <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

 
  <div class="field">
    <%= f.label :'Add your signature' %>
    <%= f.text_field :signature %>
  </div>
   <%= f.hidden_field :user_id, value: current_user.id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>







